    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo"> <a href="/" class="header__logo-link"> <img src="/odigo-logo.b103bf63.svg"
                            alt="Discover Amazing places in Japan" class="header__logo-pic"> </a> </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"> <a href="#inspired" class="header__link">Articles</a> </li>
                        <li class="header__item"> <a href="#!" class="header__link">Locations</a> </li>
                        <li class="header__item"> <a href="#!" class="header__link">Videos</a> </li>
                        <li class="header__item"> <a href="#!" class="header__link">Sign in</a> </li>
                    </ul>
                </nav>
                <div class="header__wrapp-burger">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
    </header>