
<main class="main">

    <div class="top-lab"></div>
        <section class="focus">
            <div class="focus__wrapper wrapper">
                <div class="card focus__card">
                    <div class="card__item"> <img src="/Image_.865b9031.jpg" alt="Tottori" class="card__pic"> </div>
                    <div class="card__item card__item--text">
                        <h3 class="card__title">Prefecture in Focus: Tottori</h3>
                        <p class="card__desc">Jump off balcony, onto stranger's head. Chase ball of string hide when
                            guests come over. Being gorgeous with belly side up i could pee on this if i had the energy
                            but under the bed, for attack the child, open the door, </p> <a href="#"
                            class="card__more">VIEW PREFECTURE</a>
                    </div>
                    <div class="card__item">
                        <h3 class="card__title">Prefecture in Focus: Tottori</h3>
                        <p class="card__desc">Jump off balcony, onto stranger's head. Chase ball of string hide when
                            guests come over. Being gorgeous with belly side up i could pee on this if i had the energy
                            but under the bed, for attack the child, open the door, </p> <a href="#"
                            class="card__more">VIEW PREFECTURE</a>
                    </div>
                    <div class="card__item"> <img src="/Image_.865b9031.jpg" alt="Tottori" class="card__pic"> </div>
                </div>
            </div>
        </section>



    </main>